<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>管理员</title>
<link rel="stylesheet" href="../../static/manager/style/easyui.css" type="text/css"></link>
<link rel="stylesheet" href="../../static/manager/style/icon.css" type="text/css"></link>
<link rel="stylesheet" href="../../static/manager/style/global.css" type="text/css"></link>
<script type="text/javascript" src="../../static/manager/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="../../static/manager/js/jquery.easyui.min.js"></script>
<script type="text/javascript">
/* 	$(document).ready(function(){
		var type = $("userType").val();
		if(type!="普通管理员"){
			window.location("../login.jsp");
		}
	}); */
</script>
</head>