	<div id="mgcennavi" class="easyui-accordion" data-options="border:false">
		<div class="navi_bar" title="公告管理" >
			<!-- only for school manager  -->
			<div class="schoolItem">
				<a class="navi_item" href="notice_display_school.html"> 学校公告</a></br>
				<a class="navi_item" href="notice_create_school.html"> 发布公告</a></br>
				<a class="navi_item" href="notice_modify_school.html" > 修改公告</a></br>
				<a class="navi_item" href="notice_delete_school.html" > 删除公告</a></br>
				<a class="navi_item" href="notice_search_school.html"> 查询公告</a></br>
			</div>
			<!-- only for canteen manager  -->
			<div class="canteenItem">
				<a class="navi_item" href="notice_display_school.html"> 学校公告</a></br>
				<a class="navi_item" href="notice_display_canteen.html"> 食堂公告</a></br>
				<a class="navi_item" href="notice_create_canteen.html"> 发布公告</a></br>
				<a class="navi_item" href="notice_modify_canteen.html" > 修改公告</a></br>
				<a class="navi_item" href="notice_delete_canteen.html" > 删除公告</a></br>
				<a class="navi_item" href="notice_search_school.html"> 查询学校公告</a></br>
				<a class="navi_item" href="notice_search_canteen.html"> 查询食堂公告</a></br>
			</div>
		</div>
		<div class="navi_bar" title="窗口管理" >
			<div class="schoolItem">
				<a class="navi_item" href="window_display_school.html" > 窗口列表</a></br>
				<a class="navi_item" href="mgcenter_top.html" > 销量统计</a></br>
			</div>
			<!-- only for canteen manager  -->
			<div class="canteenItem">
				<a class="navi_item" href="window_display_canteen.html" > 窗口列表</a></br>
				<a class="navi_item" href="window_verify_canteen.html" > 窗口审核</a></br>
				<a class="navi_item" href="mgcenter_top.html" > 销量统计</a></br>
			</div>
		</div>
		<div class="navi_bar" title="账号管理" >
			<a class="navi_item" href="password_modify_form.html" > 修改密码</a></br>
		</div>
	</div>
	<script type="text/javascript">
		var login_type = localStorage.getItem('type');
		if(login_type=='0'){   // schoolmanager
			$(".canteenItem").remove();
		}else if(login_type=='1'){  //canteen manager
			$(".schoolItem").remove();
		}
		$("#mgcennavi .navi_item").click(function(){
			var href = $(this).attr("href");
			var title = $(this).text();
			$("#mg_center").panel('refresh',href);
			$("#mg_center").panel('setTitle',title);
			
			return false;
		});
	</script>
