<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>管理员</title>
<link rel="stylesheet" href="/static/manager/style/easyui.css" type="text/css"></link>
<link rel="stylesheet" href="/static/manager/style/icon.css" type="text/css"></link>
<link rel="stylesheet" href="/static/manager/style/global.css" type="text/css"></link>
<script type="text/javascript" src="/static/manager/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/manager/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/manager/js/utils.js"></script>
<script type="text/javascript">
	login_required();
</script>
</head>ss
<body class="easyui-layout">  
    <div data-options="region:'north',href:'mgcenter_top.html'" style="height:80px;background:url('/static/manager/img/main-bg.png')"></div>  
    <div data-options="region:'south',href:'mgcenter_bottom.html'" style="height:100px;background:url('/static/manager/img/main-bg.png')"></div> 
    <div data-options="region:'west',href:'mgcenter_menu.html'" style="width:150px;background-color:rgb(232, 233, 238);"></div> 
    <div data-options="region:'center'" class="easyui-tabs" style="padding:5px;">
    	<div title="Welcome!" data-options="closable:true" style="overflow:auto;padding:20px;"> 
        	<p style="color: #000000;font-weight: bold;font-size: 22px;text-align: center;padding: 68px 137px 14px 0px;">		欢迎登录哇O订餐后台管理系统！
        	</p> 
    	</div> 
    </div> 
    <input id="viriable" type="text" name="name" style="display:none" value=" "/>  
    <input id="token" type="text" name="name" style="display:none" value=" "/>  
</body>  
</html>
