<table class="notice"></table> 
<div id="window"></div>
<script type="text/javascript">
    var token =localStorage.getItem("token");
    $('.notice').datagrid({   
        fitColumns:true,
        singleSelect:true,
        rownumbers:true,
        pagination:true,
        pageSize: 20,
        loadMsg:'载入数据中，请稍等...',
        columns:[[   
            {field:'title',title:'标题',width:500,algin:'center',sortable:true},   
            {field:'manager',title:'作者',width:100,algin:'center',sortable:true},   
            {field:'updateTime',title:'时间',width:200,algin:'center',sortable:true}, 
            {field:'content',title:'content',hidden:true},  
        ]],
        onClickRow:function(index, data){
            newWindow(data.title,"管理员："+data.manager+"&nbsp;&nbsp;&nbsp;&nbsp;发布时间："+data.updateTime+"<br>"+data.content);
                
        }
    });
    var pg = $(".notice").datagrid("getPager"); 
    $(pg).pagination({
        onSelectPage: function (pageNumber, pageSize) { 
            alert('onSelectPage pageNumber:' + pageNumber + ',pageSize:' + pageSize); 
            getData(pageNumber, pageSize); 
        } 
    });
    function getData(pageNumber, pageSize){
        //异步获取数据到javascript对象，入参为查询条件和页码信息 
        $.ajax({
            type: "POST",
            url: '/qianxun/1/manager/canteen/notice',
            data: {token:token,page:pageNumber,count:pageSize},
            success:function(data){
                if(data.status == 0){
                    var gridData = data.data;
                    if(data.data.total==0){
                        newWindow("提示","暂无公告");
                    }else{
                        $('.notice').datagrid('loadData', data.data); 
                    }
                }else{
                    newWindow("出现错误",data.data.error_info);
                }
            },
            error:function (XMLHttpRequest, textStatus, errorThrown) {
                ajax_error_catcher(XMLHttpRequest, textStatus, errorThrown);
                this; // 调用本次AJAX请求时传递的options参数
            },
        });  
    }
    function newWindow(title,content){
        $('#window').window({
            modal:true,
            shadow:true,
            width:500,
            height:300,
            oSize:true,
            title:title,
            content:content,
        });
    }
    getData(1,20);
</script>
