<table class="notice">

</table> 
<script type="text/javascript">
    var token = "b857ec3f08684b05bf7f81799cac8922";
    $('.notice').datagrid({   
        url:'/qianxun/1/manager/school/notice',
        queryParams: {
            token: token,
            page: 1,
            count: 20,
        },
        fitColumns:true,
        singleSelect:true,
        pagination:true,
        pageSize: 20,
        loadMsg:'载入数据中，请稍等...',
        columns:[[   
            {field:'title',title:'标题',width:500,algin:'center',sortable:true},   
            {field:'manager',title:'作者',width:100,algin:'center',sortable:true},   
            {field:'update_time',title:'时间',width:200,algin:'center',sortable:true}, 
            {field:'content',title:'content',hidden:true},  
        ]],
        onClickRow:function(index, data){
            $('#window').window({
                modal:true,
                shadow:true,
                title:data.title,
                content:data.manager+"&nbsp;&nbsp;&nbsp;&nbsp;"+data.update_time+"<br>"+data.content,
            });  
        }
    }); 
</script>
