<table class="notice_delete_canteen"></table> 
<div id ="window"></div>
<div id ="window_add"></div>
<script type="text/javascript">
    var token =localStorage.getItem("token");
    var url = "/qianxun/1/manager/show/canteen/notice";
    newNoticeDatagrid(".notice_delete_canteen");
    $('.notice_delete_canteen').datagrid({  
        onClickRow:function(index, data){
            document.getElementById('window_add').innerHTML = '<div id ="another_window" ></div>';
            $('#another_window').dialog({
                modal:true,
                width:300,
                height:150,
                title:"删除公告",
                content:'<p class="note">确定删除公告"'+data.title+'"?</p>',
                buttons:[{
                    text:'确定',
                    handler:function(){
                        $.ajax({
                            type: "POST",
                            url: "/qianxun/1/manager/delete/canteen/notice",
                            data: {token:token,notice_id:data.id},
                            success:function(data){
                                if(data.status == 0){
                                    $('#another_window').dialog('close');
                                    newMessager("提示","删除修改成功！");
                                }else{
                                    newMessager("出现错误",data.data.error_info);
                                }
                            },
                            error:function (XMLHttpRequest, textStatus, errorThrown) {
                                ajax_error_catcher(XMLHttpRequest, textStatus, errorThrown);
                                this; // 调用本次AJAX请求时传递的options参数
                            },
                        }); 
                    }
                },{
                    text:'取消',
                    handler:function(){
                        $('#another_window').dialog('close');
                    }
                }],
                onClose:function(){
                    $('#another_window').window('destroy');
                    getAjaxData(".notice_delete_canteen", url,{token:token,page:1,count:20},"暂无公告");
                }
            });
        }
    });
    /*  do pagination */
    var pg = $(".notice_delete_canteen").datagrid("getPager"); 
    $(pg).pagination({
        onSelectPage: function (pageNumber, pageSize) {
            getAjaxData(".notice_delete_canteen", url,{token:token,page:pageNumber,count:pageSize},"暂无公告");
        } 
    });
    getAjaxData(".notice_delete_canteen", url,{token:token,page:1,count:20},"暂无公告");


    function setNoticeData(id,title,content){
        $('#noticeId').val(id);
        $('#noticeTitle').val(title);
        $('#noticeContent').val(content);
    }
</script>
