<table class="notice_modify_canteen"></table> 
<div id ="window"></div>
<div class ="another_window" ></div>
<script type="text/javascript">
    var token =localStorage.getItem("token");
    var url = "/qianxun/1/manager/canteen/notice";
    newNoticeDatagrid(".notice_modify_canteen");
    $('.notice_modify_canteen').datagrid({  
        onClickRow:function(index, data){
            $('.another_window').window({
                href:'notice_modify_canteen_form.html',
                modal:true,
                width:800,
                height:500,
                title:"修改公告",
                onLoad:function(){
                    setNoticeData(data.id,data.title,data.content);
                },
                onClose:function(){
                    document.getElementsByClassName("another_window").innerHTML = "";
                    getNoticeData(".notice_modify_canteen",url,token,1,20);
                }
            });
                

        }
    });
    /*  do pagination */
    var pg = $(".notice_modify_canteen").datagrid("getPager"); 
    $(pg).pagination({
        onSelectPage: function (pageNumber, pageSize) {
            getNoticeData(".notice_modify_canteen",url,token,pageNumber, pageSize); 
        } 
    });
    getNoticeData(".notice_modify_canteen",url,token,1,20);


    function setNoticeData(id,title,content){
        var IdList = document.getElementsByName("noticeId");
        for(var i=0;i<IdList.length;i++){
            IdList[i].value = id;
        }
        var TitleList = document.getElementsByName("noticeTitle");
        for(var i=0;i<TitleList.length;i++){
            TitleList[i].value = title;
        }
        var ContentList = document.getElementsByName("noticeContent");
        for(var i=0;i<ContentList.length;i++){
            ContentList[i].value = content;
        }
    }
</script>
