<div class="panel_form">
	<table>
		<tr>
			<td class="attr"><label for="old_password">旧密码：</label></td>
			<td><input class="easyui-validatebox" type="password" id="old_password" name="old_password" data-options="required:true,validType:'length[6,20]',missingMessage:'请输入密码',invalidMessage:'请输入长度为6-20的字符'" /></td>
		</tr>
		<tr>
			<td class="attr"<label for="new_password">新密码：</label></td>
			<td><input class="easyui-validatebox" type="password" id="new_password" name="new_password" data-options="required:true,validType:'length[6,20]',missingMessage:'请输入新密码',invalidMessage:'请输入长度为6-20的字符'" /></td>
		</tr>
		<tr>
			<td class="attr"><label for="new_password2">再次输入新密码：</label></td>
			<td><input class="easyui-validatebox" type="password" id="new_password2" name="new_password2" data-options="required:true,validType:'length[6,20]',missingMessage:'请再次输入新密码',invalidMessage:'请输入长度为6-20的字符'" /></td>
		</tr>
		<tr><td></td><td><button onclick="form_submit()">确定</button></td></tr>
	</table>
	
</div>

<script type="text/javascript">
    var token = localStorage.getItem("token");
    function form_submit(){
    	var old_password = $('#old_password').val();
    	var new_password = $('#new_password').val();
    	var new_password2 = $('#new_password2').val();
		$.ajax({
	        type: "POST",
	        url: "/qianxun/1/manager/password/update",
	        data: {token:token,old_password:old_password,new_password:new_password,new_password2:new_password2},
	        beforeSend:function(XMLHttpRequest){
	        	var valid1 = $("#old_password").validatebox("isValid");
	        	var valid2 = $("#new_password").validatebox("isValid");
	        	var valid3 = $("#new_password2").validatebox("isValid");
				if(!valid1||!valid2||!valid3){
					newMessager("提示","请按照提示输入合法数据。");
					return false;
				}else if(new_password!=new_password2){
					newMessager("提示","请输入相同的新密码。")
				}else if(new_password==old_password){
					newMessager("提示","请输入与旧密码不同的新密码。")
				}
				return true;
	        },
	        success:function(data){
	            if(data.status == 0){
	                $.messager.alert("提示","密码修改成功。","info",function(){
		                logout();
	                });
	            }else{
	                newMessager("出现错误",data.data.error_info);
	            }
	        },
	        error:function (XMLHttpRequest, textStatus, errorThrown) {
	            ajax_error_catcher(XMLHttpRequest, textStatus, errorThrown);
	           this; // 调用本次AJAX请求时传递的options参数
	        },
	    }); 
	}


</script>