{% extends "./base.html" %}
{% block title %}Send Email{% endblock %}

{% block content %}
    <h1>验证码确认</h1>
    <form action="/qianxun/1/common/verifycode/validation" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_user_name">联系方式:</label> <input id="id_user_name" maxlength="11" name="user_name" type="text" /></li>
            <li><label for="id_verify_code">Verify code:</label> <input id="id_verify_code" maxlength="6" name="verify_code" type="text" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示学校列表</h1>
    <form action="/qianxun/1/common/list/school/display" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示校区列表</h1>
    <form action="/qianxun/1/common/list/district/display" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_school">School:</label> <input id="id_school" name="school" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示楼栋列表</h1>
    <form action="/qianxun/1/common/list/building/display" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_district">District:</label> <input id="id_district" name="district" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示食堂列表</h1>
    <form action="/qianxun/1/common/list/canteen/display" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_school">School:</label> <input id="id_school" name="school" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示活动类别列表</h1>
    <form action="/qianxun/1/common/list/protype/display" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示食堂的窗口列表</h1>
    <form action="/qianxun/1/common/window/display/bycanteen" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_canteen">Canteen:</label> <input id="id_canteen" name="canteen" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示包含某关键字的窗口列表</h1>
    <form action="/qianxun/1/common/window/display/byname" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_school">School:</label> <input id="id_school" name="school" type="number" /></li>
            <li><label for="id_window_name">Window_name:</label> <input id="id_window_name" maxlength="64" name="window_name" type="text" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示某学校参加某一类别活动的窗口列表</h1>
    <form action="/qianxun/1/common/window/display/byprotype" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_school">School:</label> <input id="id_school" name="school" type="number" /></li>
            <li><label for="id_pro_type">Pro_type:</label> <input id="id_pro_type" name="pro_type" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示商家活动列表</h1>
    <form action="/qianxun/1/common/promotion/display/bywindow" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_window">Window:</label> <input id="id_window" name="window" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示商家配送时间列表</h1>
    <form action="/qianxun/1/common/delivertime/display/bywindow" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_window">Window:</label> <input id="id_window" name="window" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示商家菜品列表</h1>
    <form action="/qianxun/1/common/dish/display/bywindow" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_window">Window:</label> <input id="id_window" name="window" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
            <li><label for="id_order_by">Order_By:</label> <select id="id_order_by" name="order_by">
                <option value="" selected="selected">---------</option>
                <option value="0">销量</option>
                <option value="1">价格</option>
                <option value="2">评价</option>
            </select></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示包含某关键字的菜品列表</h1>
    <form action="/qianxun/1/common/dish/display/byname" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_school">School:</label> <input id="id_school" name="school" type="number" /></li>
            <li><label for="id_dish_name">Dish_name:</label> <input id="id_dish_name" maxlength="64" name="dish_name" type="text" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
            <li><label for="id_order_by">Order_By:</label> <select id="id_order_by" name="order_by">
                <option value="" selected="selected">---------</option>
                <option value="0">销量</option>
                <option value="1">价格</option>
                <option value="2">评价</option>
            </select></li>
        </table>
        <input type="submit" value="Submit">
    </form>
    <h1>显示菜品评价列表</h1>
    <form action="/qianxun/1/common/comment/display/bydish" method="post">
        <table>
            <li><label for="id_token">Token:</label> <input id="id_token" maxlength="64" name="token" type="text" /></li>
            <li><label for="id_dish">Dish:</label> <input id="id_dish" name="dish" type="number" /></li>
            <li><label for="id_page">Page:</label> <input id="id_page" name="page" type="number" value="1" /></li>
            <li><label for="id_count">Count:</label> <input id="id_count" max="20" name="count" type="number" value="10" /></li>
        </table>
        <input type="submit" value="Submit">
    </form>

    <h1>其他</h1>
    <form action="/qianxun/1/window/delivertime/create" method="post">
        <table>
            {{form.as_ul }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}