<table class="notice_modify_school"></table> 
<div id ="window"></div>
<div id ="window_add" ></div>
<script type="text/javascript">
    var token =localStorage.getItem("token");
    var url = "/qianxun/1/manager/show/school/notice";
    newNoticeDatagrid(".notice_modify_school");
    $('.notice_modify_school').datagrid({  
        onClickRow:function(index, data){
            document.getElementById('window_add').innerHTML = '<div id ="another_window" ></div>';
            $('#another_window').window({
                href:'notice_modify_school_form.html',
                modal:true,
                width:800,
                height:500,
                title:"修改公告",
                onLoad:function(){
                    setNoticeData(data.id,data.title,data.content);
                },
                onClose:function(){
                    $('#another_window').window('destroy');
                    getAjaxData(".notice_modify_school", url,{token:token,page:1,count:20},"暂无公告");
                }
            });
                

        }
    });
    /*  do pagination */
    var pg = $(".notice_modify_school").datagrid("getPager"); 
    $(pg).pagination({
        onSelectPage: function (pageNumber, pageSize) {
            getNoticeData(".notice_modify_school",url,token,pageNumber, pageSize); 
            getAjaxData(".notice_modify_school", url,{token:token,page:pageNumber,count:pageSize},"暂无公告");
        } 
    });
    getAjaxData(".notice_modify_school", url,{token:token,page:1,count:20},"暂无公告");


    function setNoticeData(id,title,content){
        document.getElementById("noticeId").value = id;
        document.getElementById("noticeTitle").value = title;
        document.getElementById("noticeContent").value = content;
    }
</script>
