<table class="notice_canteen_display"></table>
<div id ="window"></div>
<script type="text/javascript">
    var token =localStorage.getItem("token");
    var url = "/qianxun/1/manager/show/canteen/notice";
    newNoticeDatagrid(".notice_canteen_display");
    $('.notice_canteen_display').datagrid({   
        onClickRow:function(index, data){
            newWindow(data.title,'<div class="content"><p class="note">管理员：'+data.manager+'&nbsp;&nbsp;&nbsp;&nbsp;发布时间：'+data.updateTime+'</p><p class="paragraph"><pre>'+data.content+'</pre></p></div>');  
        }
    });
    /*  do pagination */
    var pg = $(".notice_canteen_display").datagrid("getPager"); 
    $(pg).pagination({
        onSelectPage: function (pageNumber, pageSize) {
            getAjaxData(".notice_canteen_display", url,{token:token,page:pageNumber,count:pageSize},"暂无公告");
        } 
    });
    getAjaxData(".notice_canteen_display", url,{token:token,page:1,count:20},"暂无公告");
</script>
